@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,600&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 30px;
}

.logo{
    max-width: 100px;
    max-height: 75px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF0038; height: 33px; width: 1366px;
}

.botao-naotenhoconta{
    background-color: transparent;
        border: 3px solid #1A1A1A;
        border-radius: 4px;
        color: #1A1A1A;
        font-size: 20px;
        padding: 10px 20px;
        text-align: center;
        width: 254px;
        height: 53px;
}

h1{
    color: #000000;
    font-size: medium;
    height: 40px;
    display: flex; 
    flex-direction: row; 
    font-family: 'Poppins',sans-serif;
}

main{
    display: flex; 
    justify-content:space-around;
    gap: 40px;
}

div{
    display: flex; 
    flex-direction: column;
}

.imagem-animada{
    width: 450px;
     height: 360px;
}


form{
    display: flex; 
    flex-direction: column;
    background-color: #E4F5ED;
    border-radius: 10px;
    border: #000000 solid 1px;
}

h2{
    text-align: center;
}

.botao-entrar{
    background-color: #FF0038; 
    color: #F1F9E4;
    width: 436px;
    height: 67px;
    border-radius: 4px;
    font-family: 'Poppins',sans-serif; 
    font-weight: 32px;
}
