    .grid {
    margin-bottom: 20px;
  }
      .animate-typing {
      animation: typing 2s steps(20) forwards;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }

    .bg-facefoodred {
      background-color: #ff0038;
    }    

    .c-facefoodred {
      color: #ff0038;
    }
    
    @keyframes typing {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }